<hellox nameAppx="{{ nameApp }}" titlex="{{ title}}" subtitlex="{{ subtitle}}"></hellox>

<!-- h1>{{title}}</h1 -->
<app-messages></app-messages>
<!--app- top-bar [titlex]=nameApp></app-top -bar-->
<app-top-bar [titlex]=title></app-top-bar>
<!--
x1
<h1>{{title + ' ?'| uppercase}}</h1>
<!- -app-top-bar [title]=nameApp></app-top-bar- ->
<app-top-bar [titlex]=title></app-top-bar>
x2
<a router Link="/app-servico- view/">Serviço Mostrar</a>/
-->

<div>
<nav>
  <a routerLink="/dashboard/">Dashboard</a>/
  <a routerLink="/app-servico-list/">Serviços Listar</a>/
  <a routerLink="/app-product-list/">Produto</a>/
</nav>

<router-outlet></router-outlet>
</div>
<br/>
x4
<hr>
(C)2020 by CM,AM,JV.
<!--
<helloy nameApp="{{ nameApp }}"></helloy>

-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->