<hellox nameApp="{{ nameApp }}"></hellox>
x1
<h1>{{title | uppercase}}</h1>
<!--app-top-bar [title]=nameApp></app-top-bar-->
  <app-top-bar [titles]=title></app-top-bar>
x2
<router-outlet></router-outlet>

<!--
  <h1>{{title}}</h1>
<router-outlet></router-outlet>
<app-messages></app-messages>


<div class="container">
  <nav>
    <a routerLink="/produts">Produtos</a>
    <a routerLink="/servicos">Serviços</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<helloy nameApp="{{ nameApp }}"></helloy>
-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->