<h2>Products List</h2>

<div *ngFor="let product of products">
  <h3>
    <!--  {{ product.name }} -->
    <a [title]="product.name + ' details !'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts-not
    [product]="product" 
    (notify2)="onNotify2()">
  </app-product-alerts-not>
  
  <app-product-alerts
    [product]="product" 
    (notify1)="onNotify1()">
  </app-product-alerts>

  <HR>  
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->