<!--p>
servico-list works!
</p-->
<h2>Serviço Listar:</h2>
<hr/>

<h2>My Heroes</h2>
<ul class="xservicos">
  <li *ngFor="let servicoy of servicos">
    <span class="badge">id: {{servicoy.id}}</span> name: {{servicoy.name}}

    <!--button (click)="onSelect(servicoy)">
      Selecionar
    </button->
 
    
    <!--servico-list-item
    
    >
    </servico-list-item-->

  </li>
</ul>


<!--
  [servicox]="{{ servicoy }}"
  (notify2)="onNotify2()"

  (click)="onSelect(servico)"
  description: {{servico.description}} -->

<!--app-servico-view (click)="onSelect(servico)"></app-servico-view-->

<!--div *ngIf="selServico">

  <h2>{{selServico.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selServico.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selServico.name" placeholder="name"/>
    </label>
  </div>

<!--
  <div *ngFor="let servico of servicos" (click)="onSelect(servico)">
  <span>id: {{ servico.id }}</span>
  <h3>
    <!--  {{ product.name }} -- >
    <a [title]="servico.name + ' details !'">
      {{ servico.name }}
    </a>
  </h3>
 
  <p *ngIf="selServico.description">
    Description: {{ selServico.description }}
  </p>
<!--  
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts-not
    [product]="product" 
    (notify2)="onNotify2()">
  </app-product-alerts-not>
  
  <app-product-alerts
    [product]="product" 
    (notify1)="onNotify1()">
  </app-product-alerts>
-->
<!--/div-->
k
<hr/>