<!--p>
servico-list works!
</p-->
<h2>Serviço Listar:</h2>
<hr/>
<div *ngFor="let servico of servicos" (click)="onSelect(servico)">
  <span>id: {{ servico.id }}</span>
  <h3>
    <!--  {{ product.name }} -->
    <a [title]="servico.name + ' details !'">
      {{ servico.name }}
    </a>
  </h3>
 
  <p *ngIf="selServico.description">
    Description: {{ selServico.description }}
  </p>
<!--  
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts-not
    [product]="product" 
    (notify2)="onNotify2()">
  </app-product-alerts-not>
  
  <app-product-alerts
    [product]="product" 
    (notify1)="onNotify1()">
  </app-product-alerts>
-->
</div>
<hr/>