<!--p>
servico-list works!
</p-->
<!--
<h2>Serviço:</h2>
<hr/>
<div><!- -  *ngIf="servicox.name" - ->

  <h2>{{servicox.name | uppercase}} Details</h2>
  <div><span>id: </span>{{servicox.id}}</div>
  <div><span>nome: </span>{{servicox.name}}</div>
  <div><span>preço: </span>{{servicox.price}}</div>
  <div><span>descrição: </span>{{servicox.description}}</div>
  <!- -div>
    <label>name:
      <input [(ngModel)]="selServico.name" placeholder="name"/>
    </label>
  </div-- >
</div>
<hr/>
-->

<!--
<h2>Serviço Listar:</h2>
<hr/>
<ul class="xservicos">
  <li *ngFor="let servico of servicos" (click)="onSelect(servico)">
    <span class="badge">id: {{servico.id}}</span> nome: {{servico.name}}
    <!- -button (click)="onSelect(servico)">
      Selecionar
    </button- ->
  </li>
</ul>
-->
<!--
<ul class="servicos">
  <li *ngFor="let servico of servicos"
    [class.selected]="servico === selectedServico"
    (click)="onSelect(servico)">
    <span class="badge">{{servico.id}}</span> {{servico.name}}
  </li>
</ul>
-->
<ul class="servicos">
  <li *ngFor="let servico of servicos">
    <a routerLink="/servicoview/{{servico.id}}">
      <span class="badge">{{servico.id}}</span> {{servico.name}}
    </a>
  </li>
</ul>


<!--



 
    
    <!--servico-list-item
    
    >
    </servico-list-item -- >

  [servicox]="{{ servicoy }}"
  (notify2)="onNotify2()"

  (click)="onSelect(servico)"
  description: {{servico.description}} -->

<!--app-servico-view (click)="onSelect(servico)"></app-servico-view-->



<!--
  <div *ngFor="let servico of servicos" (click)="onSelect(servico)">
  <span>id: {{ servico.id }}</span>
  <h3>
    <!--  {{ product.name }} -- >
    <a [title]="servico.name + ' details !'">
      {{ servico.name }}
    </a>
  </h3>
 
  <p *ngIf="selServico.description">
    Description: {{ selServico.description }}
  </p>
<!--  
  <button (click)="share()">
    Share
  </button>

  <app-product-alerts-not
    [product]="product" 
    (notify2)="onNotify2()">
  </app-product-alerts-not>
  
  <app-product-alerts
    [product]="product" 
    (notify1)="onNotify1()">
  </app-product-alerts>
-->
<!--/div-->
k
<hr/>