* {
  color: blue;
  background-color: yellow;
}

div, hr {
  color: blue;
  background-color: yellow;
}

address {
  color: blue;
  background-color: yellow;
}


/*
h1 { font-family: Lato; }
*/