* {
  color: blue;
  background-color: yellow;
  border-style: none;
  margin: 0 0 0 0;
}

#myCor {
  color: white;
  background-color: black;
  
}

address {
  color: blue;
  background-color: yellow;
}


/*
h1 { font-family: Lato; }
*/