* {
  color: yellow;
  background-color: black;
  border-style: none;
  margin: 0 0 0 0;
}

#mysigla {
  background-color: #717171;
  opacity: 0,5;
}
div {
  color: white;
  background-color: black;
  
}

#myCor_div {
  color: white;
  background-color: black;
  
}
#myCor_address {
  color: white;
  background-color: black;
  
}

address {
  color: blue;
  background-color: black;
  opacity: 0.5;
}


/*
h1 { font-family: Lato; }
*/